body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #200303;
    transition: 0.3s ease-in-out;
}

header {
    background-color: #333;
    color: antiquewhite;
    padding: 30px 0;
    text-align: center;
}

.name-effect {
    font-family: monospace;
    color: rgb(45, 4, 4);
    text-shadow: 0 0 5px orange, 0 0 10px orange, 0 0 20px orange;
    font-size: 2.5rem;
    font-weight: bold;
    border-right: 3px solid #4FC3F7;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(30, end) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    0%, 100% { border-color: transparent; }
    50% { border-color: #4FC3F7; }
}

.top-left-image {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #cdda69;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    z-index: 1000;
}

@media screen and (max-width: 600px) {
    .top-left-image {
        width: 70px;
        height: 70px;
    }
}

a {
    text-decoration: none;
    color: #000;
}

header button {
    margin-top: 10px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Accordion */
.accordion {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.accordion-title {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    background-color: #222;
    color: white;
    border: none;
    text-align: left;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    background-color: #f4f4f4;
    transition: max-height 0.4s ease;
    padding: 0 15px;
}

.accordion-item.active .accordion-content {
    max-height: 600px;
    padding: 15px;
}

/* Skills */
.skill p {
    margin: 5px 0;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
    height: 20px;
}

.progress {
    height: 100%;
    background-color: #4dd0ed;
    border-radius: 20px;
    animation: fillBar 2s ease-in-out forwards;
}

@keyframes fillBar {
    from { width: 0; }
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/* Dark Mode */
body.dark-mode {
    background-color: rgb(156, 220, 220);
    color: #200404;
}

body.dark-mode header,
body.dark-mode footer {
    background-color: #252422;
}

body.dark-mode header button {
    background-color: #0D1B2A;
}
